.wrapper {
  padding: 10px;
  margin-left: 82px; //250px - 82px
  padding-top: 90px;
  background: $second-bg-color;
  transition: all 0.3s ease-in-out;
  min-height: 100vh;
}

.bg-primary {
  background: $primary-color !important;
}

.bg-success {
  background: $success-color !important;
}

.bg-warning {
  background: $warning-color !important;
}

.bg-danger {
  background: $danger-color !important;
}
