.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  margin-top: 79px;
  background: $main-bg-color;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px 1px;
  overflow: hidden;
  z-index: 100;

  &-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

    &--item {
      width: 100%;
    }
    &--link {
      display: flex;
      align-items: center;
      color: $main-color;
      text-decoration: none;
      vertical-align: middle;

      i {
        font-size: 1.5rem;
        color: $second-color;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      div {
        min-width: 82px;
        height: 50px;
        position: relative;
      }
    }
  }
}
